<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @barangay.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @barangay.description %>
</p>

<%= link_to 'Edit', edit_barangay_path(@barangay) %> |
<%= link_to 'Back', barangays_path %>
