<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @province.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @province.description %>
</p>

<p>
  <strong>Iscity:</strong>
  <%= @province.isCity %>
</p>

<%= link_to 'Edit', edit_province_path(@province) %> |
<%= link_to 'Back', provinces_path %>
